h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 2px;
    font-weight: bold;
}
section{
    background-color: gray;
    padding: 10px 20px;
    margin: 40px 20px;
    font-family: cursive;
}
nav {
    position: fixed;
    margin-top: 0px;
}

a {
    text-align: center;
}

p {
    font-size: 15px;
}
section{
    width: 28%;
    float: left;
    margin-left: 1.5%
}
@media(min-width:768px) and (max-width:991px) {
  /* For tablets: */
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 46.5%;}
  .col-m-6 {width: 50%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 96%;}
  .col-m-12 {width: 100%;}
}
@media(max-width:767px) {
  /* For mobiles: */
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 96%;}
  .col-s-12 {width: 100%;}
}

@media(min-width: 992px) {
  /* For desktop: */
  .col-3 {width: 30%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 90%;}
  .col-12 {width: 100%;}
}


